body{
    margin-left: 0px;
    margin-right: 0px;
    background-color:blue;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    color: white;
    border: black;
}